<% include ./common/header %>
<div class="container home">
    <div class="top">
        <div class="btn-time">
            <% if(date[0] == 'pm'){%>下午<%}else{%>上午<%}%><%=date[1]%>
        </div>
    </div>
    <div class="dialog">
        <div class="fillUserInfo">
            <% if(!!userInfo.subScribe && userInfo.subScribe == 0){%>
                <div class="dialog-box dialog-left" id="<%=userInfo.subScribe%>">
                    <a href="/pharmacist?id=5963587afcb13fb14c775b14" class="dialog-logo"><img src="/images/hospital.png" class="dialog-img"></a>
                    <div class="dialog-content">
                        <img src="/images/pharmacist-wx.jpg" class="dialog-wx">
                        <div class="dialog-text">请关注微信公众号</div>
                    </div>
                </div>
           <%}%>
        </div>
        <div class="historyMessage"></div>
    </div>

    <div class="toolbar-bottom">
        <input type="text" class="search" id="message">
        <button type="button" class="btn-send" onClick=" sendUserMessage()">发送</button>
    </div>
</div>
<script>
    var socket, id = '<%= userInfo._id%>',parent= url2obj().from,wxImage='<%=wxImage%>';
    var timer = null;
    function getToken() {
        return fetch('/token/user/'+id, {
            method: 'GET'
        }).then(function(result) {
            return result.json();
        })
    }
    function connect(){
        if (!!socket) {
            //alert('您已经加入了聊天!')
            return;
        }
        //监听验证权限事件
        getToken().then(function(result) {
            if (result.statu === 0) {
                return alert(result.msg);
            }
            //socket1.immo.cno.cn
            socket = io.connect('http://socket1.immo.cn',{path:'/socket',"transports":['websocket', 'polling']});
            socket.on('error', function(error) {
                console.log(error);
            });
            socket.on("unauthorized", function(error, callback) {
                console.log(error);
                if (error.data.type == "UnauthorizedError" || error.data.code == "invalid_token") {
                    callback();
                    console.log("token过期!");
                    socket = null;
                    connect();
                }
            });

            socket.on('connect', function() {
                console.log(socket);
            })
            socket.on('authenticated', function() {
                //监听连接事件

                socket.on('connectId', function(rid) {
                    // alert('您的昵称为:'+message.info);
                    id = rid;
                });
                //监听消息
                socket.on('messages', function(message) {
                    console.log('您收到来自' + message.from + '的消息:' + message.info);
                    var dialog = "";
                    if (message.info == 'close') {
                        dialog += '<div class="dialog-box dialog-left"><a href="/pharmacist?id=<%= parent%>" class="dialog-logo"><img src="/images/hospital.png" class="dialog-img"></a>';
                        dialog += '<div class="dialog-content"><span class="triangle"><i class="triangle-content"></i></span><span class="dialog-text">感谢您的咨询！希望我们的服务能解决您的问题。赶紧去给药师的服务评分吧！</span>';
                        dialog += '<a class="dialog-link" href="/grade?id=<%= parent%>">';
                        dialog += '<img src="/images/icon-arrow.png" class="icon-arrow"> 去评分';
                        dialog += '</a> </div> </div>';
                    } else {
                        dialog += '<div class="dialog-box dialog-left">' ;
                        dialog += '<a href=/pharmacist?id='+parent+'  class="dialog-logo"><img src="/images/hospital.png" class="dialog-img"></a>';
                        dialog += '<div class="dialog-content"><span class="triangle"><i class="triangle-content"></i></span><span class="dialog-text">'+message.info+'</span> </div>';
                        dialog += '</div>';
                    }
                    $('.historyMessage').append(dialog);
                    $('.dialog').scrollTop($('.dialog')[0].scrollHeight);
                })

                //监听重新连接事件
                socket.on('reconnect', function() {
                    console.log('断线重连!');
                    connect();
                    window.location.reload();
                })

                socket.on('disconnect',function(){
                    console.log('断开连接');
                });

                //监听其他用户登录事件
                socket.on('otherConnect', function(message) {
                    console.log(message);
                })

                //监听用户列表事件
                socket.on('userList', function(list) {
                    console.log(list);
                });

                //监听离线消息事件
                socket.on('offLineMessage', function(list) {
                    //alert(list.length);
                })
            })
            socket.emit('authenticate', {
                token: result.datas
            })
        })
    }

    function sendUserMessage() {
        if (!socket) {
            alert('还没有建立连接呢亲爱的!');
            return;
        }
        var $message = $('#message');
        if($message.val() == ''|| /^[ ]+$/.test($message.val())){
            return;
        }
        socket.emit('message', {
            to: parent,
            info:$message.val()
        }, function(result) {
            if (!!result) {
                var dialog = "";
                dialog += '<div class="dialog-box dialog-right">';
                dialog += '<a href=/user?id='+id+'  class="dialog-logo"><img src='+wxImage+' class="dialog-img"></a>'
                dialog += '<div class="dialog-content"><span class="dialog-text">'+$message.val()+'</span></div>';
                dialog += '</div>';
                $('.historyMessage').append(dialog);
                $message.val('');
                $('.dialog').scrollTop($('.dialog')[0].scrollHeight);
            }
        })
    }
    //发送完善个人资料
    function getUserInfoStatu() {
        return fetch('/getUserInfoStatu/' + id, {
            method: 'GET'
        })
        .then(function(result) {
           return result.json()
        }).then(function(result) {
             if (result.statu == 1) {
                  if (result.datas) {
                      var dialog = "";
                      dialog += '<div class="dialog-box dialog-left">';
                      dialog += '<a href=/pharmacist?id=' + parent + ' class="dialog-logo"><img src="/images/hospital.png" class="dialog-img"></a>';
                      dialog += '<div class="dialog-content"><span class="triangle"><i class="triangle-content"></i></span>'
                      dialog += '<span class="dialog-text">您好，从专业角度出发，为避免信息缺失造成风险管理遗漏，请您在个人中心完善资料，方便药师了解您的基础健康信息。</span>';
                      dialog += '<a href=/userInfo?id=' + id + ' class="dialog-link"><img src="/images/icon-arrow.png" class="icon-arrow"> 完善个人资料</a>';
                      dialog += '</div></div>';
                      $('.fillUserInfo').append(dialog);
                     }
                  }
             })
    }
    //渲染聊天记录
    function renderDialog(datas){
        var dialog = "";
        var to = "";
        $(datas).each(function(index, ele) {
            to = ele.to
            if (id == ele.from) {
                dialog += '<div class="dialog-box dialog-right"><a href=/user?id='+id+'  class="dialog-logo">'
                if(!!wxImage){
                    dialog +='<img src='+wxImage+' class="dialog-img">';
                }else{
                    dialog +='<img src="/images/user.png" class="dialog-img">';
                }
                dialog +='</a><div class="dialog-content"><span class="triangle"><i class="triangle-content"></i></span><span class="dialog-text">';
                dialog += ele.message;
                dialog += '</span> </div> </div>';
            } else {
                if (ele.message == 'close') {
                    dialog += '<div class="dialog-box dialog-left"><a href=/pharmacist?id='+parent+' class="dialog-logo"><img src="/images/hospital.png" class="dialog-img"></a>';
                    dialog += '<div class="dialog-content"><span class="dialog-text">感谢您的咨询！希望我们的服务能解决您的问题。赶紧去给黄药师的服务评分吧！</span>';
                    dialog += '<a class="dialog-link" href=/grade?id='+parent+'>';
                    dialog += '<img src="/images/icon-arrow.png" class="icon-arrow"> 去评分';
                    dialog += '</a> </div> </div>';
                } else {
                    dialog += '<div class="dialog-box dialog-left"><a href=/pharmacist?id='+parent+'  class="dialog-logo"><img src="/images/hospital.png" class="dialog-img"></a><div class="dialog-content"><span class="triangle"><i class="triangle-content"></i></span><span class="dialog-text">';
                    dialog += ele.message;
                    dialog += '</span> </div> </div>';
                }
            }
        })
        $('.historyMessage').html(dialog);
        $('.dialog').scrollTop($('.dialog')[0].scrollHeight);
    }
    //获取与当前人员的聊天记录
    function getHistoryMessage(to) {
        var to = parent;
        if (!id) {
            //alert('您暂时还没连接!')
            return;
        }
        fetch(`/history?from=${id}&to=${to}`, {
            method: 'GET'
        })
            .then(function(result) {
                return result.json()
            })
            .then(function(result) {
                 if (result.statu === 0) {
                     return alert(result.msg);
                 } else {
                     return result;
                 }
            })
             .then(function(result) {
                 //渲染完善信息
                 getUserInfoStatu().then(function(){
                     //渲染聊天记录
                     renderDialog(result.datas);
                 })
                    return to;
             })

    }

    function setInputListener(){
        timer = setInterval(function(){
            document.body.scrollTop = document.body.scrollHeight;
        },100)
    }

    function clearInputListener(){
        clearInterval(timer);
    }

    function getUserInfo(){
        return fetch('/getUserInfo/'+id, {
            method:'GET'
        }).then(function(result){
            return result.json();
        }).then(function(result){
            id=result.datas._id
            if(result.statu == 1){
                getHistoryMessage();
            }
        })
    }

    connect();
    getUserInfo();
    //解决ios下input输入文字被遮住
    $('#message').focus(setInputListener).blur(clearInputListener);
</script>
<% include ./common/footer %>
