<% include ./common/header %>
<div class="container chat">
    <div class="chat-top">
        <div class="chat-top-left">
            <a onClick="showMasterInfo()" href="javascript:void(0)" class="hospital-logo">
                <img src="<% if(!datas.wxImage){%>/images/hospital.png<%}else{%><%=datas.wxImage %><%}%>" class="chat-titleImg">
                <%=datas.wxName%>
            </a>
        </div>
        华侨医院－药师患者沟通平台<a href="/login" class="exit">退出</a>
    </div>
    <div class="chat-content">
        <div class="chat-content-left">
            <div class="chat-list"></div>
        </div>
        <div class="chat-content-right">
            <div class="chat-content-right-top">
                <div class="chatContent"></div>
                <div class="popup hospital-popup">
                    <div class="popup-top">
                        <img src="/images/icon-close.png" class="popup-close">
                        <span class="popup-edit">编辑</span>
                    </div>
                    <div class="popup-content master-popup">
                        <div class="popup-item QRcode">
                            <div class="popup-item-left QRcode-text">二维码</div>
                            <div class="popup-item-right">
                                <img src="<%= qrcode%>" class="QRcode-img">
                            </div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">登录账号</div>
                            <div class="popup-item-right phone"><%=datas.phone%></div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">服务人次</div>
                            <div class="popup-item-right"><span class="serviceNum">无</span>人</div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">服务评分</div>
                            <div class="popup-item-right gradeNum"><%=datas.star%> <img src="/images/icon-star-active.png" class="icon-star"></div>
                        </div>
                        <div class="popup-item gender">
                            <div class="popup-item-left">性别</div>
                            <div class="popup-item-right gender-text"><% if(datas.sex == 0){%>男<%}else {%>女<%}%></div>
                            <div  class="popup-item-right gender-selects">
                                <div class="select" name=1>男</div>
                                <div class="select active" name=0>女</div>
                            </div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">单位</div>
                            <div class="popup-item-right"><input class="popup-input unit" type="text" value="无" placeholder="请输入您的单位" disabled></div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">职称</div>
                            <div class="popup-item-right">
                                <div class="popup-item-right"><input class="popup-input jobTitle" type="text" value="无" placeholder="请输入您的职称" disabled></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup user-popup">
                    <div class="popup-top">
                        <img src="/images/icon-close.png" class="popup-close">
                    </div>
                    <div class="popup-content">
                        <div class="popup-item">
                            <div class="popup-item-left"><img src="/images/user.png" class="user-img"></div>
                            <div class="popup-item-right user-name">微信号</div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">手机号码</div>
                            <div class="popup-item-right phone">无</div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">真实姓名</div>
                            <div class="popup-item-right name">无</div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">性别</div>
                            <div class="popup-item-right sex">女</div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">住院号</div>
                            <div class="popup-item-right hospitalId">无</div>
                        </div>
                        <div class="popup-item">
                            <div class="popup-item-left">诊疗卡号</div>
                            <div class="popup-item-right hospitalcradId">无</div>
                        </div>
                        <div class="popup-item note">
                            <div class="popup-item-left">备注</div>
                            <div class="popup-item-right">
                                <input type="text" class="note-input mark" placeholder="请输入备注" value="无" disabled>
                                <img src="/images/icon-edit.png" class="icon-edit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sendInfo">
                <div class="sendInfo-toolbar">
                    <div class="sendEvaluation">发送评价请求</div>
                </div>
                <textarea name="" id="message" class="sendInfo-content"></textarea>
                <div class="btn-sendInfo" onClick="sendMasterMessage()">发送</div>
            </div>
        </div>
    </div>
</div>
<script>
    var socket,id="<%=datas._id%>",datas=[];
    //获取Token
    function getToken(){
        return fetch('/token/master/<%=datas.phone%>/<%=datas.password%>',{method:'GET'}).then(function(result){
            return result.json();
        })
    }
    //实时连接
    function connect(){
        if(!!socket){
            //alert('您已经加入了聊天!')
            return;
        }
        //监听验证权限事件
        getToken().then(function(result){
            console.log(result,"Token")
            if(result.statu === 0){
                return alert(result.msg);
            }
            socket = io.connect('http://socket1.immo.cn',{path:'/socket',"transports":['websocket', 'polling']});

            socket.on('error',function(error){
                console.log(error);
            });
            socket.on("unauthorized", function(error, callback) {
                console.log(error);
                if (error.data.type == "UnauthorizedError" || error.data.code == "invalid_token") {
                    callback();
                    console.log("token过期!");
                    socket = null;
                    connect();
                }
            });
            socket.on('connect',function(){
                console.log(socket);
            })
            socket.on('authenticated',function(){
                //监听连接事件
                socket.on('connectId',function(rid){
                    // alert('您的昵称为:'+message.info);
                    id = rid;
                });
                //监听消息
                socket.on('messages',function(message){
                    console.log(message,'您收到来自'+message.from+'的消息:'+message.info);
                    if($(".chat-list .active").attr("id") == message.user._id){
                        var dialog="";
                        dialog+='<div class="chatContent-box chatContent-left"><a onClick="showUserInfo()" href="javascript:void(0)" class="chatContent-logo user-logo">';
                        dialog+='<img src='+message.user.image+' class="chatContent-img">';
                        dialog+= '</a> <div class="chatContent-content"><span class="triangle"><i class="triangle-content"></i></span>  <span class="chatContent-text">';
                        dialog+=   message.info;
                        dialog+= '</span> </div> </div>';
                        $('.chatContent').append(dialog);
                        $('.chatContent').scrollTop($('.chatContent')[0].scrollHeight);
                    }
                    for(var i=0;i<$(".chat-list .list-item").length;i++){
                        if($(".chat-list .list-item:eq("+i+")").attr("id") == message.user._id){
                            $(".chat-list .list-item:eq("+i+") .newInfo").text(message.info);
                            break;
                        }
                    }
                })

                //监听重新连接事件
                socket.on('reconnect',function(){
                    console.log('断线重连!');
//                    window.location.reload();
                    connect();
                })
                //超时
                socket.on('connect_timeout', function(timeout){
                    console.log()
                });
                //下线
                socket.on('disconnect', function(message) {
                    socket = null
                    console.log(message,'disconnect')
                });
                //监听其他用户登录事件

                socket.on('otherConnect',function(message){
                    console.log(message);
                })

                //监听用户列表事件
                socket.on('userList',function(list){
                    console.log(list,'list')
                    fetch('/getUserInfo/'+id,{
                        method:'GET'
                    }).then(function(result){
                        return result.json();
                    }).then(function(masterInfo){
                        if(masterInfo.statu == 1){
                            var lists = masterInfo.datas.friends,newArr = [];
                            list.forEach(function(ele,i){
                                if(hasId(lists,ele._id,masterInfo.datas._id)){
                                    newArr.push(ele._id);
                                }
                            })
                            if(!!lists.length){
                                if(!!newArr.length){
                                    lists = lists.concat(newArr);
                                    upUserList(lists)
                                            .then(function(userList){
                                                loadLeftNav(userList.datas,$('.chat-list .active').attr('id'));
                                            })
                                }else{
                                    upUserList(lists)
                                            .then(function(userList){
                                                loadData(userList.datas,$('.chat-list .active').attr('id'))
                                            })
                                }
                            }
                        }
                    })
                });
                //监听离线消息事件
                socket.on('offLineMessage',function(list){
                    //alert(list.length);
                })
            })
            socket.emit('authenticate',{token:result.datas})
        })
    }

    function hasId(arr,newId,masterId){
        arr.forEach(function(e,i){
            if(newId  == e || newId == masterId){
                return true;
            }
        })
        return false;
    }
    //渲染对话列表
    function chatContent(datas,userImage){
        var dialog="";
        $(datas).each(function(index,ele){
            if(id == ele.from){
                if(ele .message == "close"){
                    dialog +='<div class="chatContent-box chatContent-right"><a onClick="showMasterInfo()" href="javascript:void(0)" class="chatContent-logo hospital-logo"> <img src="/images/hospital.png" class="chatContent-img"> </a> <div class="chatContent-content"> <span class="triangle"><i class="triangle-content"></i></span> <span class="chatContent-text">' ;
                    dialog += '感谢您的咨询！希望我们的服务能解决您的问题。赶紧去给黄药师的服务评分吧！';
                    dialog += ' <a class="chatContent-link"> <img src="/images/icon-arrow.png" class="icon-arrow">去评分 </a></span> </div> </div>';
                }else{
                    dialog+='<div class="chatContent-box chatContent-right"><a onClick="showMasterInfo()" href="javascript:void(0)" class="chatContent-logo hospital-logo">';
                    dialog+='<img src="<% if(!datas.wxImage){%>/images/hospital.png<%}else{%><%=datas.wxImage%><%}%>" class="chatContent-img">';
                    dialog+= '</a> <div class="chatContent-content"><span class="triangle"><i class="triangle-content"></i></span><span class="chatContent-text">';
                    dialog+=   ele .message;
                    dialog+= '</span> </div> </div>';
                }
            }else{
                dialog+='<div class="chatContent-box chatContent-left"><a href="javascript:void(0)" class="chatContent-logo user-logo list-item">';
                dialog+='<img onClick="showUserInfo(this)" src='+userImage+' class="chatContent-img">';
                dialog+= '</a> <div class="chatContent-content"><span class="triangle"><i class="triangle-content"></i></span>  <span class="chatContent-text">';
                dialog+=   ele .message;
                dialog+= '</span> </div> </div>';
            }
        })
        $('.chatContent').html(dialog);
        $('.chatContent').scrollTop($('.chatContent')[0].scrollHeight);
    }

    //获取与当前人员的聊天记录
    function getHistoryMessage(to,userImg){
        var to = to || $(".chat-list .active").attr("id");
        if(!id){
            // alert('您暂时还没连接!')
            return;
        }
        fetch(`/history?from=${id}&to=${to}`,{method:'GET'})
                .then(function(result){
                    return result.json()
                })
                .then(function(result){
                    if(result.statu === 0){
                        return alert(result.msg);
                    }else{
                        return result;
                    }
                })
                .then(function(result){
                    console.log(result,'获取与当前人员的聊天记录')
                    if(!!result.datas.length){
                        //渲染对话列表
                        chatContent(result.datas,userImg);
                    }else{
                        $('.chatContent').html('');
                    }
                })
    }

    //右侧对话列表渲染方法
    function loadRightChat(datas){
        console.log(datas[0].wxImage,"img")
//        getHistoryMessage(datas[0]._id,datas[0].wxImage)
        getHistoryMessage($('.chat-list .active').attr('id'),$('.chat-list .active').find('.list-img').attr('src'))
    }

    //左测菜单渲染方法
    function loadLeftNav(datas,activeId){
        var item="";
        $(datas).each(function(index,ele){
            if(ele._id != id){
                item += '<div onClick="chatList(this)" class="list-item" id='+ele._id+'>';
                item +='<div class="list-imgBox icon-newInfo"><img src='+ele.wxImage+' onClick="showUserInfo(this)" class="list-img"></div>';
                item +='<div class="list-item-content"><div class="user">';
                if(!!ele.mark){
                    item +='<span class="user-name">'+ele.mark+'</span>';
                }else{
                    item +='<span class="user-name">'+ele.wxName+'</span>';
                }
                if(!!ele.lastMessage.length){
                    item += '<span class="chat-time">'+(ele.lastMessage.date[0] == "pm"?"下午":"上午")+ele.lastMessage.date[1]+'</span>';
                }
                item +='</div><div class="newInfo">';
                if(!!ele.lastMessage && !! ele.lastMessage.message){
                    item +=ele.lastMessage.message ;
                }
                item +=' </div></div></div>';
            }
        })
        $('.chat-list').html(item);
        if(!!activeId){
            console.log(activeId)
            $('.chat-list .list-item').each(function(i,e){
                if($(e).attr('id') == activeId){
                    $(e).addClass("active")
                }
            })
        }else{
            $('.chat-list .list-item').first().addClass("active")
        }
    }

    //页面渲染方法
    function loadData(data,activeId){
        datas = data
        console.log(datas,"sss");
        //左测菜单渲染方法
        loadLeftNav(datas,activeId)
        //右侧对话列表渲染方法
        loadRightChat(datas)
    }

    //加载用户列表
    function upUserList(list){
        return fetch('/userList/'+id+'?ids='+JSON.stringify(list),{
            method:'GET'
        }).then(function(result){
            return result.json();
        }).then(function(result){
            if(result.statu == 1){
                return result;
            }
        })
    }

    //弹出用户信息
    function loadUserPopupInfo(userId,userImg){
        fetch('/getUserInfo/'+userId,{
            method:'GET'
        }).then(function(result){
            return result.json();
        }).then(function(result){
            if(result.statu == 1){
                console.log(userImg,'userImg')
                var userInfo = result.datas;
                $(".user-popup .user-img").attr("src",userImg);
                $(".user-popup .hospitalId").text(userInfo.hospitalId || "无");
                $(".user-popup .hospitalcradId").text((!!userInfo.crads.length) ? userInfo.crads[0].id:"无");
                $(".user-popup .user-name").text(userInfo.wxName || "无");
                $(".user-popup .name").text(userInfo.name || "无");
                $(".user-popup .sex").text(userInfo.sex == 0 ? "女" :"男")
                $(".user-popup .phone").text(userInfo.phone || "无");
                $(".user-popup .note .mark").val(userInfo.mark || "无");
                $(".user-popup").attr("id",userInfo._id).show();
            }
        })
    }

    //弹出药师信息
    function loadMasterInfo(){
        fetch('/getUserInfo/'+id,{
            method:'GET'
        }).then(function(result){
            return result.json();
        }).then(function(result){
            if(result.statu == 1){
                var masterInfo = result.datas
                $(".hospital-popup .phone").text(masterInfo.phone || "无");
                $(".hospital-popup .serviceNum").text(!!(masterInfo.friends.length)?masterInfo.friends.length:0);
                $(".hospital-popup .gradeNum").text(masterInfo.gradeNum);
                $(".hospital-popup .unit").val(masterInfo.unit || "无");
                $(".hospital-popup .jobTitle").val(masterInfo.jobTitle || "无");
                $(".hospital-popup").show();
            }
        })
    }

    //发送信息
    function sendMasterMessage(type){
        var _m;
        _m = $(".sendInfo-content").val();
        if(!type && _m == ''){
            return false;
        }
        if(!socket){
            // alert('还没有建立连接呢亲爱的!')
            return ;
        }
        if(!!type){
            _m = 'close';
        }
        socket.emit('message',{to:$(".chat-list .active").attr("id"),info:_m},function(result){
            console.log(result)
            if(result){
                var dialog="";
                if(_m == 'close'){
                    dialog +='<div class="chatContent-box chatContent-right"><a onClick="showMasterInfo()" href="javascript:void(0)" class="chatContent-logo hospital-logo"> <img src="/images/hospital.png" class="chatContent-img"> </a> <div class="chatContent-content"><span class="triangle"><i class="triangle-content"></i></span> <span class="chatContent-text">' ;
                    dialog += '感谢您的咨询！希望我们的服务能解决您的问题。赶紧去给黄药师的服务评分吧！';
                    dialog += ' <a class="chatContent-link"> <img src="/images/icon-arrow.png" class="icon-arrow">去评分 </a></span> </div> </div>';
                }else{
                    dialog+='<div class="chatContent-box chatContent-right"><a onClick="showMasterInfo()" href="javascript:void(0)" class="chatContent-logo hospital-logo">';
                    dialog+='<img src="<% if(!datas.wxImage){%>/images/hospital.png<%}else{%><%=datas.wxImage %><%}%>"class="chatContent-img">';
                    dialog+= '</a> <div class="chatContent-content"> <span class="triangle"><i class="triangle-content"></i></span> <span class="chatContent-text">';
                    dialog+=   document.getElementById('message').value;
                    dialog+= '</span> </div> </div>'
                }
                $('.chatContent').append(dialog);
                $('.chatContent').scrollTop($('.chatContent')[0].scrollHeight);
                $(".sendInfo-content").val("")
            }
        })
    }

    connect();
</script>
<script>
    function chatList(e) {
        if ($(e).hasClass("active")) return false;
        $('.popup').hide();
        getHistoryMessage($(e).attr("id"),$(e).find('.list-img').attr("src"));
        $(e).addClass("active").siblings().removeClass("active");
    }
    //显示药师信息
    function showMasterInfo() {
        loadMasterInfo()
    }
    //关闭药师信息
    $(".popup-close").click(function () {
        $(this).parents(".popup").hide();
    });
    //显示用户信息
    function showUserInfo(e) {
        if($(e).hasClass('chatContent-img')){
            loadUserPopupInfo($('.chat-list').find('.active').attr("id"),$(e).attr("src"))
        }else{
            loadUserPopupInfo($(e).parents('.list-item').attr("id"),$(e).attr("src"))
        }
        event.stopPropagation();
    };
    //编辑用户备注
    $(".icon-edit").click(function () {
        $('.note-input').attr("disabled",false);
        $('.note-input').select();
    });
    //保存用户备注
    $('.note-input').blur(function(){
        fetch('/editUserInfo/'+$(".user-popup").attr("id"), {
            method:'POST',
            body: JSON.stringify({
                id: $(".user-popup").attr("id"),
                phone: $(".user-popup .phone").text(),
                name:$(".user-popup .name").text(),
                sex:$(".user-popup .sex").text() == "女" ? 0 :1,
                hospitalId:$(".user-popup .hospitalId").text(),
                mark: $(".user-popup .mark").val()
            }),
            headers:{
                'Accept':'application/json',
                'Content-Type':'application/json'
            }
        }).then(function(result){
            return result.json();
        }).then(function(result){
            if(result.statu == 1){
                $('.note-input').attr("disabled",true);
                $('.chat-list .list-item').each(function(i,ele){
                  if($(ele).attr('id') == $('.user-popup').attr('id')){
                      $(ele).find('.user-name').text($(".user-popup .mark").val());
                  }
                })
            }
        })
    })
    //编辑药师信息
    $(".popup-edit").click(function () {
        if( $('.hospital-popup .popup-input').attr("disabled") == "disabled"){
            $('.hospital-popup .popup-input').attr("disabled",false);
            $('.hospital-popup .popup-input').first().select();
            $('.hospital-popup .popup-input').addClass("active-input");
            $('.gender .gender-text').hide();
            $('.gender .gender-selects').css("display","inline-block");
            $(".popup-edit").text("保存");
        }else{
            fetch('/editMasterInfo/'+id, {
                method:'POST',
                body: JSON.stringify({
                    id:id,
                    sex:$(".gender-selects .active").attr("name"),
                    unit:$(".unit").val(),
                    jobTitle:$(".jobTitle").val()
                }),
                headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                }
            }).then(function(result){
                return result.json();
            }).then(function(result){
                if(result.statu == 1){
                    $('.gender .gender-text').text( $('.gender-selects .active').text()).show();
                    $('.gender .gender-selects').hide();
                    $('.hospital-popup .popup-input').attr("disabled",true);
                    $('.hospital-popup .popup-input').removeClass("active-input");
                    $(".popup-edit").text("编辑");
                }
            })
        }
    });
    //编制药师性别
    $(".gender-selects .select").click(function () {
        if ($(this).hasClass("active")) return false;
        $(this).addClass("active").siblings().removeClass("active");
    });
    //药师发送评价请求
    $(".sendEvaluation").click(function(){
        sendMasterMessage("close")
    })
</script>
<% include ./common/footer %>